{% extends 'base.html' %}


{% block content %}
{% load humanize %}
<!-- Banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Resultados de la búsqueda</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Inicio</a></li>
                <li class="active">Buscar</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->


<!-- Search box 3 start -->
<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form action="{% url 'search' %}" method="">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                              <select class="form-control search-fields" name="modelo">
                                  <option selected="true" disabled="disabled">Modelo</option>
                                  {% for s in modelo_search %}
                                        <option value="{{s}}">{{s}}</option>
                                  {% endfor %}
                              </select>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                              <select class="form-control search-fields" name="ciudad">
                                  <option selected="true" disabled="disabled">Localización</option>
                                  {% for s in ciudad_search %}
                                        <option value="{{s}}">{{s}}</option>
                                  {% endfor %}
                              </select>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="year">
                                    <option disabled="disabled" selected="selected">Select Year</option>
                                    {% for s in year_search %}
                                        <option value="{{s}}">{{s}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="estilo_cuerpo">
                                    <option disabled="disabled" selected="selected">Select Type Of Car</option>
                                    {% for s in cuerpo_search %}
                                        <option value="{{s}}">{{s}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="transmission">
                                    <option disabled="disabled" selected="selected">Transmission</option>
                                    {% for s in transmission_search %}
                                        <option value="{{s}}">{{s}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search box 3 end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's your <span>Cars</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
          {% for s in carro %}
        <div class="col-lg-4 col-md-6">
            <div class="car-box">
                <div class="car-thumbnail">
                    <a href="{% url 'car_detalle' s.id %}" class="car-img">
                        <div class="tag">For Sale</div>
                        <img class="d-block w-100" src="{{s.foto.url}}" alt="car" style="min-height:262px; max_height: 262px;">
                        <div class="facilities-list clearfix">
                            <ul>
                                <li>
                                    <span><i class="flaticon-way"></i></span>{{s.millas | intcomma}}
                                </li>
                                <li>
                                    <span><i class="flaticon-calendar-1"></i></span>{{s.year}}
                                </li>
                                <li>
                                    <span><i class="flaticon-manual-transmission"></i></span>{{s.transmission}}
                                </li>
                            </ul>
                        </div>
                    </a>
                    <div class="carbox-overlap-wrapper">
                        <div class="overlap-box">
                            <div class="overlap-btns-area">
                              <div class="car-magnify-gallery">
                                  <a href="{{s.foto.url}}" class="overlap-btn">
                                      <i class="fa fa-expand"></i>
                                      <img class="hidden" src="{{s.foto.url}}">
                                  </a>
                                  {% if s.foto_1 %}
                                  <a href="{{s.foto_1.url}}" class="hidden">
                                      <img class="hidden" src="{{s.foto_1.url}}">
                                  </a>
                                  {% endif %}
                                  {% if s.foto_2 %}
                                  <a href="{{s.foto_2.url}}" class="hidden">
                                      <img class="hidden" src="{{s.foto_2.url}}">
                                  </a>
                                  {% endif %}
                                  {% if s.foto_3 %}
                                  <a href="{{s.foto_3.url}}" class="hidden">
                                      <img class="hidden" src="{{s.foto_3.url}}">
                                  </a>
                                  {% endif %}
                                  {% if c.foto_4 %}
                                  <a href="{{s.foto_4.url}}" class="hidden">
                                      <img class="hidden" src="{{s.foto_4.url}}">
                                  </a>
                                  {% endif %}
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <h1 class="title">
                        <a href="{% url 'car_detalle' s.id %}">{{s.car_tittle}}</a>
                    </h1>
                    <div class="location">
                        <a href="{% url 'car_detalle' s.id %}">
                            <i class="flaticon-pin"></i>{{s.estado}}, {{s.ciudad}}
                        </a>
                    </div>
                </div>
                <div class="footer clearfix">
                    <div class="pull-left ratings days">
                        <p class="cartype">{{s.estilo_cuerpo}}</p>
                    </div>
                    <div class="pull-right">
                        <p class="price">{{s.precio | intcomma}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        </div>
    </div>
</div>
<!-- Featured car end -->
{% endblock %}
